<%- include("header") -%> <!--EJS Header layout-->
<div class="myDiv">
    <h1 style="margin-top: 5%">About Us</h1>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sunt nobis at reprehenderit aperiam pariatur. Ab, in rerum? Voluptates cumque aperiam earum atque? Cumque, neque ipsa! Possimus maxime expedita sunt nemo ab tempore, ipsam a vero quidem dolor minima autem distinctio at est exercitationem animi nisi accusamus alias nesciunt, architecto pariatur minus molestiae ullam odio? Possimus delectus at, quo fugit doloribus praesentium nihil tenetur laboriosam aperiam repudiandae maiores, commodi totam eos ipsam laborum numquam voluptatibus blanditiis omnis! Architecto reprehenderit accusamus modi unde odit labore iste repellendus, illum in at, nisi, ab alias maxime. A rerum tempora reprehenderit, deleniti laborum repellendus culpa?</p>
</div>
<%- include("footer") -%> <!--EJS Footer layout-->