<%- include("header") -%> <!--EJS Header layout-->
<div class="myDiv">
    <h1 style="margin-top: 5%">Contact Us</h1>
    <ul>
        <li>Email ID: kaustubhadhe@gmail.com</li>
        <li>Phone No.:+91 7021058521</li>
        <li>Telephone No.: 022 27565649</li>
    </ul>
</div>
<%- include("footer") -%> <!--EJS Header layout-->